.container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 0 5px;
   justify-content: center;
}

.container > h1 {
   font-family: "Courier New", Courier, monospace;
   background-color: white;
   text-align: center;
   padding: 10px 20px;
   color: rgb(74, 123, 212);
   border-radius: 5px;
}

.container > .items-container {
   background-color: white;
}
